*.bin
*.pkl
*.gpg
**/analysis*.txt
**/postings*.txt
**/fire10*.txt


hw3/animal.txt
hw3/animal_topics.txt
hw3/animal_topics_results-a
hw3/animal_topics_results-b.txt
hw3/animal_topics_results-c
hw3/animalsize.txt
hw3/he-a.txt
hw3/he-b.txt
hw4/phase1.dev.shuf.tsv
hw4/phase1.test.shuf.tsv
hw4/phase1.train.shuf.tsv
hw5/*.tsv
